@{
    ViewData["Title"] = "Home Page";
}
@model mvcTutorial.Models.Person

<div class="text-center">
    <h1>Welcome to ASP.NET Core MVC!</h1>
    <p>C# and ASP.NET by @Model.FirstName @Model.LastName.</p>
</div>
